.intro {
	position: relative;
	height: 100vh;
}
a.scroll-arrow {
	font-size: 35px;
	color: white;
	width: 50px;
	border-radius: 50%;
	height: 50px;
	border: 1px solid white;
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 40px;
	left: 50%;
	z-index: 1029;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0.9;

	& i {
		line-height: 50px;

		&:before {
			content: "\f107";
		}
	}
}
// Fix conflicting styles with Sierra
pdf-viewer {
	input[type=checkbox]+label,
	input[type=radio]+label {
		&:after,
		&:before {
			content: initial;
		}
	}
}
